{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <!-- CUSTOM STYLESHEET -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- BOX ICONS FONT CDN LINK -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- nav section starts -->
    <nav>
        <div class="navbar">
            <i class="bx bx-menu"></i>
            <div class="logo"><a href="#">Coin</a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo_name">Coin</span>
                    <i class="bx bx-x"></i>
                </div>
                <ul class="links">
                    <li><a href="#" class="nouser"><i class="fas fa-home"></i> home</a></li>
                    <li><a href="#" class="nouser"><i class="fas fa-globe"></i> market</a></li>
                    <li><a href="#" class="nouser"><i class="fas fa-folder"></i> deposit bonus</a></li>
                    <li><a href="#" class="nouser"><i class="fas fa-usd"></i> investment hall</a></li>
                    <li>
                        <a href="#" class="nouser"><i class="fas fa-th"></i> activities</a>
                        <i class="bx bxs-chevron-down arrow htmlcss-arrow"></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a href="#"><i class="fas fa-database"></i> deposit</a></li>
                            <li><a href="#"><i class="fas fa-usd"></i> withdraw</a></li>
                            <li><a href="#"><i class="fas fa-history"></i> history</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="nouser"><i class="fas fa-info-circle"></i> about</a></li>
                    <li><a href="#" class="user">sign in</a></li>
                    <li><a href="#" class="user">sign up</a></li>
                </ul>
            </div>
            <div></div>
        </div>
    </nav>
    <!-- nav section ends -->

    <!-- home section starts  -->
    <section style="margin-top: 3rem;">
        <div class="home-container">
            <div class="home-img">
                <img src="forcoin-removebg-preview.png">
            </div>
            <div class="home-text">
                <h1>Bit Coins</h1>
                <span>And</span>
                <h1 class="text">Fox Trading</h1>
                <ul>
                    <li>
                        <p>Bitcoin is the world's first and most valuable cryptocurrency.Launched in 2009, it uses
                            blockchain technology to operate as a decentralized digital cash system.</p>
                    </li>
                    <li>
                        <p>Its value and functionalities depend on the specific project behind the token, which could
                            involve anything from o</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- home section ends  -->

    <!-- card section starts -->

    <section class="card" style="margin-bottom: 3rem;">
        <div class="card-container">
            <div class="card-box">
                <img src="coincard1.png">
                <span>Create account</span>
                <p>Click the button below and follow our easy account setup process</p>
            </div>
            <div class="card-box">
                <img src="coincard2.png">
                <span>Make a deposit</span>
                <p>Get Ready to take advamtage of the next trading opportunity</p>
            </div>
            <div class="card-box">
                <img src="coincard3.png">
                <span>Start now</span>
                <p>Launch the platform now to get started</p>
            </div>
        </div>
        <center><a href="#">open an account</a></center>
    </section>

    <!-- card section ends -->

    <!-- block section starts -->

    <section class="block" style="color:#ffffff">

        <h1 class="heading">Why Block Chain?</h1>
        <p class="heading-text">We’ve worked with over 400 companies to build blockchain solutions for their business,
            and we are still growing.</p>

        <div class="block-container">
            <div class="block-section-1">
                <span>Flexibility</span>
                <p>We’ve worked with over 400 companies to build blockchain solutions for their business.</p>
                <ul>
                    <li>Blockchain solutions for their business.</li>
                    <li>Crypto space with its remarkable journey</li>
                    <li>Stay tuned to blockchain news</li>
                </ul>
                <img src="forcoin.png">
            </div>
            <div class="block-section-2">
                <div class="block-box">
                    <div class="detail">
                        <span>Transference</span>
                        <p>We’ve worked with over 400 companies to build blockchain solutions for their business.</p>
                        <p>We’ve worked with over 400 companies to build</p>
                    </div>
                    <img src="forcoin2.png">
                </div>
                <div class="block-box">
                    <div class="detail">
                        <span>Secure & Safe</span>
                        <p>We’ve worked with over 400 companies to build blockchain solutions for their business.</p>
                        <p>We’ve worked with over 400 companies to build</p>
                    </div>
                    <img src="forcoin1.png">
                </div>
            </div>
        </div>

    </section>

    <!-- block section ends -->

    <!-- ranking section starts -->

    <section class="ranking">
        <center><span class="heading">Leaderboard</span></center>
        <h1 class="title">CoinGain Top Ranking</h1>
        <div class="ranking-container">
            <div class="ranking-section-1">

                <div class="ranking-box">
                    <div class="border">
                        <div class="crown first-crown">
                            <img src="firstcrown.svg">
                        </div>
                    </div>
                    <div class="color-circle first-circle"></div>
                    <div class="data">
                        <h6 style="color:#FCD73A;">First 1</h6>
                        <h5>Peter Jay Smith</h5>
                        <h5>Was</h5>
                        <span>19.280G</span>
                    </div>
                    <h4>9.800</h4>
                    <div class="gem">
                        <span>prize</span>
                        <img src="gem.svg">
                    </div>
                </div>

                <div class="ranking-box">
                    <div class="border">
                        <div class="crown second-crown">
                            <img src="secondcrown.svg">
                        </div>
                    </div>
                    <div class="color-circle second-circle"></div>
                    <div class="data">
                        <h6 style="color:#60EBB3;">Second 2</h6>
                        <h5>Peter Jay Smith</h5>
                        <h5>Was</h5>
                        <span>19.280G</span>
                    </div>
                    <h4>9.800</h4>
                    <div class="gem">
                        <span>prize</span>
                        <img src="gem.svg">
                    </div>
                </div>

                <div class="ranking-box">
                    <div class="border">
                        <div class="crown third-crown">
                            <img src="thirdcrown.svg">
                        </div>
                    </div>
                    <div class="color-circle third-circle"></div>
                    <div class="data">
                        <h6 style="color:#FE9431;">Third 3</h6>
                        <h5>Peter Jay Smith</h5>
                        <h5>Was</h5>
                        <span>19.280G</span>
                    </div>
                    <h4>9.800</h4>
                    <div class="gem">
                        <span>prize</span>
                        <img src="gem.svg">
                    </div>
                </div>

            </div>
            <div class="ranking-section-2">
                <table>
                    <tr>
                        <th>Place</th>
                        <th>User</th>
                        <th>
                            <div class="gem">
                                <span>Credit</span>
                                <img src="gem.svg">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>
                            <div class="circle">
                                <div class="color-circle" style="background: #fe9431;"></div>
                                <span>Yeremias NJ</span>
                            </div>
                        </td>
                        <td>
                            <div class="gem">
                                <span>13.200</span>
                                <img src="gem.svg">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>
                            <div class="circle">
                                <div class="color-circle"
                                    style="background: linear-gradient(180deg, #f5e06b, #f7ae09);"></div>
                                <span>John Pentol</span>
                            </div>
                        </td>
                        <td>
                            <div class="gem">
                                <span>13.200</span>
                                <img src="gem.svg">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>
                            <div class="circle">
                                <div class="color-circle" style="background: #fcd5b2;"></div>
                                <span>Megda Hera</span>
                            </div>
                        </td>
                        <td>
                            <div class="gem">
                                <span>13.200</span>
                                <img src="gem.svg">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>
                            <div class="circle">
                                <div class="color-circle" style="background: #fff0d0;"></div>
                                <span>Denielad Dan</span>
                            </div>
                        </td>
                        <td>
                            <div class="gem">
                                <span>13.200</span>
                                <img src="gem.svg">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>
                            <div class="circle">
                                <div class="color-circle"
                                    style="background: linear-gradient(180deg, #43bef2, #1e6cf7);"></div>
                                <span>Henry</span>
                            </div>
                        </td>
                        <td>
                            <div class="gem">
                                <span>13.200</span>
                                <img src="gem.svg">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>
                            <div class="circle">
                                <div class="color-circle"
                                    style="background: linear-gradient(180deg, #f8f48e, #fde636);"></div>
                                <span>Thomas C</span>
                            </div>
                        </td>
                        <td>
                            <div class="gem">
                                <span>13.200</span>
                                <img src="gem.svg">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>
                            <div class="circle">
                                <div class="color-circle"
                                    style="background: linear-gradient(180deg, #46dea2, #7bf8c5);"></div>
                                <span>Paijoo</span>
                            </div>
                        </td>
                        <td>
                            <div class="gem">
                                <span>13.200</span>
                                <img src="gem.svg">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <!-- ranking section ends -->

    <!-- trading section starts -->

    <section class="trading" style="margin-bottom: 3rem;">
        <p class="heading">What is meaning of futures trading?</p>
        <div class="line"></div>
        <p class="text">Future trading involves obligation which makes it mandatory for the buyer and seller to abide by
            the agreement and complete the trade on a predetermined date and price. The predetermined time I futures
            trading is called delivery date and the fixed price is called futures price. To become more familiar with
            futures meaning you need to understand the following points –</p>
        <div class="trading-container">

            <div class="grid-sector">
                <div class="trading-box">
                    <p>The value of future contracts is influenced by the value of the underlying asset. If the value of
                        underlying assets rises it increases the value of future contracts too.</p>
                    <span class="cornor"></span>
                </div>
                <div class="trading-box">
                    <p>Future contracts can be transferred and can be traded. If the seller wants to move out of the
                        contract the seller can transfer the ownership to some other party. This applies to the buyer as
                        well</p>
                    <span class="cornor"></span>
                </div>
                <div class="trading-box">
                    <p>Future contracts involve obligation from both the parties hence these contracts must be properly
                        regulated to avoid chances of default. In India, SEBI looks after the futures trading to ensure
                        smooth functioning</p>
                    <span class="cornor"></span>
                </div>
            </div>

            <div class="flex-sector">
                <div class="trading-box">
                    <p>Future contracts follow a standardized procedure and cannot be customized by any individual and
                        the conditions cannot be negotiated</p>
                    <span class="cornor"></span>''
                </div>
                <div class="trading-box">
                    <p>The settlements in futures trading are done through cash. The differences in cash values are paid
                        by one party to another</p>
                    <span class="cornor"></span>
                </div>
            </div>

        </div>
    </section>

    <!-- trading section ends -->

    <!-- footer section starts -->

    <section class="footer">
        <div class="footer-container">

            <div class="box">
                <h5>PLATFORM FEATURES</h5>
                <p>Feature Trading View platform wants to be a perfect tool for you to enjoy trading and reach your goals. That’s why it keeps changing, adding new features, improving the old ones, removing what’s no longer relevant, and bringing what traders most want to see on the platform.</p>
            </div>

            <div class="footer-box">
                <div class="sub-box">
                    <h5>POPULAR PLATFORMS</h5>
                    <a href="#">Trading Station</a>
                    <a href="#">Future Trading View</a>
                </div>
                <div class="sub-box">
                    <h5>DOWNLOAD</h5>
                    <a href="#">Download Trading Station</a>
                    <a href="#">Download Future Trading View App</a>
                </div>
            </div>

            <div class="footer-box">
                <div class="sub-box">
                    <h5>LAUNCH SOFTWARE</h5>
                    <a href="#">Trading Station Web</a>
                    <a href="#">Future Trading Web</a>
                </div>
                <div class="sub-box">
                    <h5>ACCOUNTS</h5>
                    <a href="#">Risk Free Practice Account</a>
                    <a href="#">Open an Account</a>
                    <a href="#">Manage Account/Deposit</a>
                </div>
            </div>

            <div class="footer-box">
                <div class="sub-box">
                    <h5>OUR POLICIES</h5>
                    <a href="#">Cookie Policity & Settings</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Income Tax</a>
                </div>
                <div class="sub-box">
                    <h5>CUSTOMER SERVICE</h5>
                    <a href="#">Chat Offline</a>
                    <a href="#">About Us</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>

        </div>
        <hr>
        <div class="social">
            <div class="icons">
                <a href="#"><i class="fa-brands fa-facebook facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter twitter"></i></a>
                <a href="#"><i class="fa-brands fa-telegram telegram"></i></a>
                <a href="#"><i class="fa-brands fa-instagram instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin linkedin"></i></a>
            </div>
            <div class="download">
                <a href="#">
                    <img src="appdownload1.png">
                </a>
                <a href="#">
                    <img src="appdownload2.png">
                </a>
            </div>
        </div>
        <p class="copyright" >Copyright © 2024 All Rights Reserved.</p>
    </section>

    <!-- footer section ends -->














    {% include 'chat/partials/chat_bubble.html' %}

    <script src="{% static 'js/main.js' %}"></script>

    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>