{% load static %}
<style>
    .hidden {
        display: none;
    }

    .chat {
        max-width: 300px;
        position: fixed;
        right: 10px;
        bottom: 20px;
        background: #eee;
        border: 2px solid #BA8864;
        border-radius: .5rem;
        padding: 4px;
    }

    .chat_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        border: none;
        outline: none;
        border-radius: 50%;
    }

    .chat_icon i {
        color: #BA8864;
        font-size: 3rem;
    }

    .chat_input {
        padding: 0.5rem 1.5rem;
        margin-bottom: 1rem;
        border-radius: 0.75rem;
        width: 95%;
        text-transform: none;
        color: #000000;
        background-color: #F3F4F6;
    }

    .chat_join_btn {
        padding: 0.5rem 1.5rem;
        border-radius: 0.75rem;
        color: #ffffff;
        background: #BA8864;
        border: none;
        outline: none;
        margin-bottom: 1rem;
        margin-left: .5rem;
    }

    .chat-container {
        background-color: #BA8864;
        display: flex;
        flex-direction: column;
        padding: 1rem 0 1rem 1rem;
        gap: 1.5rem;
        margin-bottom: 2rem;
        border-radius: .5rem;
    }

    .chat-container .sector {
        display: flex;
        align-items: center;
    }

    .chat-container .sector h1 {
        text-transform: none;
        font-size: 1.7rem;
    }

    .chat-container .sector img {
        width: 3rem;
        height: 3rem;
    }

    .chat-container p {
        text-transform: none;
    }

    .chat_room {
        overflow: scroll;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.75rem;
        background-color: #F3F4F6;
        height: 300px;
    }

    .chat_message_input {
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.75rem;
        width: 100%;
        background-color: #F3F4F6;
        color:#000000;
    }

    .chat_message_submit {
        padding: 0.5rem 1.5rem;
        border-radius: 0.75rem;
        color: #ffffff;
        background:#BA8864;
        border:none;
        outline: none;
        margin-bottom: 1rem;
    }
</style>
<div id="chat" class="chat">
    <div id="chat_icon">
        <button id="chat_open" class="chat_icon">
            <i class="fa-solid fa-headset"></i>
        </button>
    </div>

    <div id="chat_welcome" class="hidden">
        <div class="chat-container">
            <div class="sector">
                <h1>Hi there</h1>
                <img src="{% static 'images/hand.png' %}">
            </div>
            <p>Need help? Search our help center for answers or start a conversation:</p>
        </div>

        <center><input type="text" name="name" id="chat_name" class="chat_input" placeholder="Your name..."></center>

        <button id="chat_join" class="chat_join_btn">Join chat</button>
    </div>

    <div id="chat_room" class="hidden">
        <div id="chat_log" class="chat_room">
            <p style="color:#000000;text-transform: none;">Welcome to our chat! Please type your message and wait for an agent to join...</p>
        </div>

        <input type="text" name="body" id="chat_message_input" class="chat_message_input"
            placeholder="Type your message...">
        <button id="chat_message_submit" class="chat_message_submit">Send</button>
    </div>
</div>