<style>
    .room-container {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1rem;
    }

    .join-btn {
        display: inline-block;
        padding: 0.5rem 1.5rem;
        margin-top: 1rem;
        border-radius: 0.75rem;
        color: #ffffff;
        background: green;
    }

    .delete-btn {
        display: inline-block;
        padding: 0.5rem 1.5rem;
        background: red;
        margin-top: 1rem;
        border-radius: 0.75rem;
        color: #ffffff;
    }
</style>
<div class="room-container">
    {% for room in rooms %}
    {% if room.status == 'waiting' %}
    <div style="padding: 1rem; border-radius: 0.75rem; background:#5cd2c6;">
        <h3 style="margin-bottom: 1rem;font-size: 1.125rem;line-height: 1.75rem;color:#000;">Chat</h3>
        <p style="color:#000;">
            <b>ID: </b>{{ room.uuid }}<br>
            <b>Name: </b>{{ room.client }}<br>
            <b>Status: </b>{{ room.get_status_display }}<br>
            <b>Agent: </b>{% firstof room.agent.name 'None yet...' %}
        </p>
        <a href="{% url 'chat:room' room.uuid %}" class="join-btn">Join</a>
        <a href="{% url 'chat:delete_room' room.uuid %}" class="delete-btn">Delete</a>
    </div>
    {% elif room.status == 'active' %}
    <div style="padding: 1rem; border-radius: 0.75rem; background-color: #dfe3ee; ">
        <h3 style="margin-bottom: 1rem;font-size: 1.125rem;line-height: 1.75rem; color:#000;">Chat</h3>
        <p style="color:#000;">
            <b>ID: </b>{{ room.uuid }}<br>
            <b>Name: </b>{{ room.client }}<br>
            <b>Status: </b>{{ room.get_status_display }}<br>
            <b>Agent: </b>{% firstof room.agent.name 'None yet...' %}
        </p>
        <a href="{% url 'chat:room' room.uuid %}" class="join-btn">Join</a>
        <a href="{% url 'chat:delete_room' room.uuid %}" class="delete-btn">Delete</a>
    </div>
    {% else %}
    <div style="padding: 1rem; border-radius: 0.75rem; background-color: #363753; ">
        <h3 style="margin-bottom: 1rem;font-size: 1.125rem;line-height: 1.75rem;color:#fefefe; ">Chat</h3>
        <p style="color:#fefefe;">
            <b>ID: </b>{{ room.uuid }}<br>
            <b>Name: </b>{{ room.client }}<br>
            <b>Status: </b>{{ room.get_status_display }}<br>
            <b>Agent: </b>{% firstof room.agent.name 'None yet...' %}
        </p>
        <a href="{% url 'chat:room' room.uuid %}" class="join-btn">Join</a>
        <a href="{% url 'chat:delete_room' room.uuid %}" class="delete-btn">Delete</a>
    </div>
    {% endif %}
    {% endfor %}
</div>