{% extends 'admin_base.html' %}
{% block content %}
{% load static %}


    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Coin Type Edit</div>
                        <hr>
                        <form method="POST" action="/myadmin/coin_type_edit/{{coin_type.id}}/">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="input-1">Name</label>
                                <input type="text" class="form-control" value="{{coin_type.type}}" name="type" id="input-1" placeholder="Enter Your Name">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-light px-5"><i class="icon-lock"></i>
                                    Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}