<!-- footer section starts -->
{% load static %}
<section class="footer">
    <div class="footer-container">

        <div class="box">
            <h5>PLATFORM FEATURES</h5>
            <p>Feature Trading View platform wants to be a perfect tool for you to enjoy trading and reach your goals. That’s why it keeps changing, adding new features, improving the old ones, removing what’s no longer relevant, and bringing what traders most want to see on the platform.</p>
        </div>

        <div class="footer-box">
            <div class="sub-box">
                <h5>POPULAR PLATFORMS</h5>
                <a href="#">Trading Station</a>
                <a href="#">Future Trading View</a>
            </div>
            <div class="sub-box">
                <h5>DOWNLOAD</h5>
                <a href="#">Download Trading Station</a>
                <a href="#">Download Future Trading View App</a>
            </div>
        </div>

        <div class="footer-box">
            <div class="sub-box">
                <h5>LAUNCH SOFTWARE</h5>
                <a href="#">Trading Station Web</a>
                <a href="#">Future Trading Web</a>
            </div>
            <div class="sub-box">
                <h5>ACCOUNTS</h5>
                <a href="#">Risk Free Practice Account</a>
                <a href="#">Open an Account</a>
                <a href="#">Manage Account/Deposit</a>
            </div>
        </div>

        <div class="footer-box">
            <div class="sub-box">
                <h5>OUR POLICIES</h5>
                <a href="#">Cookie Policity & Settings</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Income Tax</a>
            </div>
            <div class="sub-box">
                <h5>CUSTOMER SERVICE</h5>
                <a href="#">Chat Offline</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
            </div>
        </div>

    </div>
    <hr>
    <div class="social">
        <div class="icons">
            <a href="#"><i class="fa-brands fa-facebook facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter twitter"></i></a>
            <a href="#"><i class="fa-brands fa-telegram telegram"></i></a>
            <a href="#"><i class="fa-brands fa-instagram instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin linkedin"></i></a>
        </div>
        <div class="download">
            <a href="#">
                <img src="{% static 'images/appdownload1.png' %}">
            </a>
            <a href="#">
                <img src="{% static 'images/appdownload2.png' %}">
            </a>
        </div>
    </div>
    <p class="copyright" >Copyright © 2024 All Rights Reserved.</p>
</section>

<!-- footer section ends -->