<!-- nav section starts -->
<nav>
    <div class="navbar">
        <i class="bx bx-menu"></i>
        <div class="logo"><a href="#">Coin</a></div>
        <div class="nav-links">
            <div class="sidebar-logo">
                <span class="logo_name">Coin</span>
                <i class="bx bx-x"></i>
            </div>
            <ul class="links">
                <li><a href="#" class="nouser"><i class="fas fa-home"></i> home</a></li>
                <li><a href="#" class="nouser"><i class="fas fa-globe"></i> market</a></li>
                <li><a href="#" class="nouser"><i class="fas fa-folder"></i> deposit bonus</a></li>
                <li><a href="#" class="nouser"><i class="fas fa-usd"></i> investment hall</a></li>
                <li>
                    <a href="#" class="nouser"><i class="fas fa-th"></i> activities</a>
                    <i class="bx bxs-chevron-down arrow htmlcss-arrow"></i>
                    <ul class="htmlCss-sub-menu sub-menu">
                        <li><a href="#"><i class="fas fa-database"></i> deposit</a></li>
                        <li><a href="#"><i class="fas fa-usd"></i> withdraw</a></li>
                        <li><a href="#"><i class="fas fa-history"></i> history</a></li>
                    </ul>
                </li>
                <li><a href="#" class="nouser"><i class="fas fa-info-circle"></i> about</a></li>
                <li><a href="/account/login/" class="user">sign in</a></li>
                <li><a href="/account/register/" class="user">sign up</a></li>
            </ul>
        </div>
        <div></div>
    </div>
</nav>
<!-- nav section ends -->